* { box-sizing:border-box; }
.contenedor {
	width: 90%;
	margin: auto;
	border: 1px solid grey;
	padding: 0.5rem;
}

fieldset {
	border: 1px solid black;
	padding: 1rem;
	margin-bottom: 1rem;

}
h1 {text-align: center;}

.campo {
	margin: 0.8rem 0;
}


#edad {
	width: 3rem;
}
.bloque {
	display: block;
}

.error {
	color: red;
}

/*.errores {
	border: 1px solid red;
	padding: 0.3rem;
	margin: 0.3rem;
	border-radius: 10px;
	background-color: lightgrey;
	color:red;
}*/